package view

import "github.com/jackcollins434/guess-the-spotify-song/internal/view/layout"

templ Home() {
    @layout.DefaultLayout() {
        <div class="flex justify-center pt-10">
            <h1 class="text-3xl">Guess the Song</h1>
        </div>
    }
}
