package view

templ Home() {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Guess the Song</title>
        </head>
        <body>
            <h1>Guess the Song</h1>
        </body>
    </html>
}
